Youtube data is taken for this analysis. USCOMMENT.CSV, containing the youtube data from US. Basically it is the comments that we are receiving in each youtube video and the number of likes and replies received in the same.

Importing the necessary libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

reading the data that we have using PANDAS READ_CSV

In [ ]:
df = pd.read_csv('UScomments.csv',on_bad_lines = 'skip')

## we were having data errors, so we are just skipping the bad lines here
## error debugging

"""with open('UScomments.csv') as f:
  lines = f.readlines()
  print(lines[41589]) """

/var/folders/wx/llv42dz54_765_6h0pkyf5340000gq/T/ipykernel_40423/307043135.py:1: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('UScomments.csv',on_bad_lines = 'skip')

In [ ]:
df.head()

,video_id,comment_text,likes,replies
0,XpVt6Z1Gjjo,Logan Paul it's yo big day ‚ÄºÔ∏è‚ÄºÔ∏è‚ÄºÔ∏è,4,0
1,XpVt6Z1Gjjo,I've been following you from the start of your...,3,0
2,XpVt6Z1Gjjo,Say hi to Kong and maverick for me,3,0
3,XpVt6Z1Gjjo,MY FAN . attendance,3,0
4,XpVt6Z1Gjjo,trending üòâ,3,0

In [ ]:
df.describe()

           video_id comment_text   likes  replies
count        691400       691374  691400   691400
unique         2266       434075    1284      479
top     XpVt6Z1Gjjo          Lol       0        0
freq            800          310  456894   525730

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 691400 entries, 0 to 691399
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   video_id      691400 non-null  object
 1   comment_text  691374 non-null  object
 2   likes         691400 non-null  object
 3   replies       691400 non-null  object
dtypes: object(4)
memory usage: 21.1+ MB

So, we have a total of 691400 rows of data, 4 columns all string (object as shown). However if we see in the sample data.

In [ ]:
df.sample(6)

,video_id,comment_text,likes,replies
11403,J_e77K4n6Ts,This is 100 fucking percent disgusting.\nI wan...,0,0
16937,cNgT8qEQJ3w,checks out,0,1
316886,w7h--c54_O8,Plz make some cupcakes teen titans go theme wi...,0,0
651795,Hlt3rA-oDao,This was pretty damn awesome,0,0
603940,LSYc5HvyXKo,"Love you both, but this time what stole my he...",0,0
683705,pcnlLwwR5x4,You Trump supporters should go and respond to ...,0,1

In [ ]:
df['likes'].unique()

array(['4', '3', '0', ..., 6365, 3014, 2292], shape=(1284,), dtype=object)

In [ ]:
df['replies'].unique()

array(['0', '1', '500', '2', '261', '29', '180', '3', '4', '5', '77', '6',
       '14', '8', '11', '15', '7', '10', '156', '9', '13', '20', '16',
       '85', '520', '83', '22', '12', '24', '34', '240', '504', '32',
       '31', '196', '104', '50', '44', '138', '95', '21', '351', '105',
       '19', '166', '471', '266', '46', '136', '66', '286', '208', '259',
       '18', '112', '168', '28', '36', '88', '205', '78', '55', '164',
       '101', '39', '17', '86', '177', '40', '322', '291', '335', '495',
       '476', 'replies', '42', '159', '27', '478', '92', '503', '26',
       '25', '161', '242', '38', '371', '60', '354', '401', '33', '501',
       '49', '47', '224', '71', '54', '23', '65', '41', '80', '91', '311',
       '45', '230', '140', '529', '485', '246', '94', '412', '79', '486',
       '292', '391', '323', '376', '132', '488', '453', '264', '160',
       '169', '528', '282', '149', '466', '74', '499', '225', '370',
       '297', '329', '73', '175', '477', '181', '277', '301', '30', '90',
       '244', '170', '35', '129', '53', '162', 0, 1, 2, 4, 6, 5, 16, 500,
       11, 28, 18, 3, 13, 8, 22, 7, 181, 456, 175, 274, 12, 528, 35, 19,
       187, 495, 503, 77, 10, 9, 501, 95, 92, 26, 242, 66, 61, 38, 39, 43,
       62, 17, 76, 15, 98, 203, 58, 14, 48, 30, 37, 90, 63, 67, 65, 71,
       115, 84, 64, 226, 59, 25, 52, 74, 340, 248, 27, 87, 527, 220, 493,
       134, 117, 329, 268, 89, 40, 83, 24, 23, 124, 99, 34, 60, 88, 120,
       140, 96, 93, 111, 20, 75, 86, 251, 366, 21, 504, 301, 302, 202,
       182, 151, 114, 357, 257, 127, 33, 282, 56, 194, 176, 348, 316, 189,
       186, 212, 152, 125, 377, 275, 139, 286, 31, 45, 259, 197, 437, 255,
       105, 230, 97, 369, 36, 44, 138, 195, 191, 336, 224, 168, 396, 288,
       158, 296, 32, 468, 287, 244, 103, 394, 46, 199, 347, 232, 409, 305,
       164, 299, 121, 85, 292, 29, 170, 147, 57, 178, 465, 480, 249, 390,
       106, 210, 346, 233, 141, 41, 307, 408, 70, 252, 478, 489, 323, 136,
       324, 69, 51, 153, 166, 154, 126, 54, 313, 434, 47, 133, 192, 183,
       206, 80, 161, 169, 131, 50, 443, 267, 231, 222, 309, 213, 219, 306,
       253, 499, 229, 94, 216, 318, 107, 321, 261, 234, 108, 102, 474, 55,
       49, 429, 398, 358, 289, 333, 273, 238, 207, 492, 451, 405, 381,
       337, 156, 270, 291, 467, 393, 314, 322, 211, 137, 494, 469, 363,
       345, 352, 342, 359, 118, 356, 402, 368, 290, 163, 278, 122, 128,
       436, 371, 414, 165, 100, 470, 42, 454, 382, 415, 407, 400, 116,
       483, 180, 294, 132, 452, 172, 417, 209, 123, 162, 487, 184, 101,
       507, 53, 173, 428, 167, 424, 146, 404, 250, 506, 208, 174, 217,
       143, 119, 367, 283, 104, 341, 150, 279, 383, 221, 157, 68, 247,
       397, 349, 190, 227, 193, 82, 440, 277, 110, 91, 256, 239, 243, 298,
       263], dtype=object)

we have video ID as mixed varchar data, comment_text as pure string value, Likes seems to be numeric value and replies as numeric values as well. However after viewing the unique values, some value are numeric eg. 157, whereas some as string e.g. '129'.

In [ ]:
df['replies'] = pd.to_numeric(df['replies'], errors='coerce')

In [ ]:
df['likes'] = pd.to_numeric(df['likes'], errors='coerce')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 691400 entries, 0 to 691399
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   video_id      691400 non-null  object
 1   comment_text  691374 non-null  object
 2   likes         691399 non-null  float64
 3   replies       691399 non-null  float64
dtypes: float64(2), object(2)
memory usage: 21.1+ MB

instead of int the data type has been converted to float, this might be due to NAN values, lets check them

In [ ]:
df['replies'].isna().sum()

np.int64(1)

In [ ]:
df['likes'].isna().sum()

np.int64(1)

In [ ]:
df = df.dropna(subset=['replies'])

In [ ]:
df['replies'].isna().sum()

np.int64(0)

In [ ]:
df = df.dropna(subset=['likes'])

In [ ]:
df['likes'].isna().sum()

np.int64(0)

so now we might be able to convert into Integer datatype

In [ ]:
df['replies'] = df['replies'].astype(int)
df['likes'] = df['likes'].astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 691399 entries, 0 to 691399
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   video_id      691399 non-null  object
 1   comment_text  691373 non-null  object
 2   likes         691399 non-null  int64
 3   replies       691399 non-null  int64
dtypes: int64(2), object(2)
memory usage: 26.4+ MB

Now the data looks fine, all string values have object data type and integer values have integer data type

Now for duplicates and missing value check

In [ ]:
df.isnull().sum()

video_id         0
comment_text    26
likes            0
replies          0
dtype: int64

26 rows have missing values, this is minimum number of rows, so lets drop the rows for now

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isnull().sum()

video_id        0
comment_text    0
likes           0
replies         0
dtype: int64

In [ ]:
df.duplicated().sum()

## 691,399 total number of rows, out of which 219,743 are duplicates
## we have no use of duplicate records. so lets remove them

np.int64(219743)

In [ ]:
df = df.drop_duplicates(keep='last')

In [ ]:
df.duplicated().sum()

np.int64(0)

Now the data has been cleaned, all the duplicates, missing values and data type has been cleaned and transformed.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 471630 entries, 0 to 691399
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   video_id      471630 non-null  object
 1   comment_text  471630 non-null  object
 2   likes         471630 non-null  int64
 3   replies       471630 non-null  int64
dtypes: int64(2), object(2)
memory usage: 18.0+ MB

In [ ]:
df.head()

,video_id,comment_text,likes,replies
0,XpVt6Z1Gjjo,Logan Paul it's yo big day ‚ÄºÔ∏è‚ÄºÔ∏è‚ÄºÔ∏è,4,0
1,XpVt6Z1Gjjo,I've been following you from the start of your...,3,0
2,XpVt6Z1Gjjo,Say hi to Kong and maverick for me,3,0
3,XpVt6Z1Gjjo,MY FAN . attendance,3,0
4,XpVt6Z1Gjjo,trending üòâ,3,0

EDA - EXPLORATIVE DATA ANALYSIS